---
//@ts-nocheck
import { redirectToDefaultLocale } from 'astro:i18n';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

const url = "https://qsrakwuccdmdnlksroom.supabase.co";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFzcmFrd3VjY2RtZG5sa3Nyb29tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQzNTI4OTEsImV4cCI6MjA1OTkyODg5MX0.qIfMopi9QPFgYQY-eW9K9WdrSVt7vDRFb_ZBN7sZuCU"; 


---

<Layout>
	<Welcome />
	<h1>hello world!</h1>
</Layout>
